body {
	margin: 0px;
	overflow: hidden;
}
#canvas {
	background-color: black;
}
.full-width-text {
	font-size: 100vw;
}
.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
